<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include ("partials/header") %>
    <title>Home</title>
  </head>
  <body>
    <%- include ('partials/nav') %> 
    <div class="container-fluid px-0 vh-100 position-relative">
      <header class="position-absolute top-50 start-50 translate-middle text-center">
        <p class="lh-sm">Welcome to FITNESS GYM</p>
        <h1 class="fw-bold main__title">MAKE IT HAPPEN!</h1>
        <a class="btn link-light mt-4" href="/course" role="button" style="background-color: #D23056;">Get started</a>
      </header>
      <img src="https://i.imgur.com/DxA5Qgz.jpg" alt="" class="img-fluid w-100 h-100 object-fit-cover main__bg">
    </div>
  </body>
</html>
